*.elc
*~
.*.lock

.sx/
auto-save-list/
devdocs/
elpa-*/
elpa/
elpy/
eln-cache/
eshell/
games/
layouts/
persp-confs/
request/
straight/
transient/
tree-sitter
tutorial/
url/

.cache
.emacs.desktop
.mc-lists.el
.org-id-locations
.projectile
bookmarks
forge-database.sqlite
history
network-security.data
nov-places
projectile-bookmarks.eld
projectile.cache
recentf
tramp

!straight/versions/default.el