*.elc
*~
.*.lock

.sx/
auto-save-list/
elpa-*/
elpa/
eshell/
games/
layouts/
persp-confs/
request/
transient/
tutorial/
url/

.emacs.desktop
.mc-lists.el
.org-id-locations
bookmarks
custom.el
forge-database.sqlite
network-security.data
nov-places
projectile-bookmarks.eld
projectile.cache
recentf
tramp
